body{
  overflow-x: hidden;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.gradient-custom-2{
  background-image: linear-gradient(to right,#EB7027,#D8363F,#D7387A);
}
.fo{
  height: 80px;
  color: white;
  font-weight: bold;
  padding-top: 20px;
  font-size: larger;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 260px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  font-weight: bold;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.hgh1{
  height: 200px;
  background-color: #D7387A;
  padding: 20px 20px 20px 20px;
  font-size: 50px;
  text-align: left;
}
.hgh2{
  height: 200px;
  background-color: #b44a2f;
  padding: 20px 20px 20px 20px;
  font-size: 50px;
  text-align: left;
}
.hgh3{
  height: 200px;
  background-color: #b42f8e;
  padding: 20px 20px 20px 20px;
  font-size: 50px;
  text-align: left;
}
.d1{
  color: aliceblue;
  margin-left: 300px;
}
.d2{
  color: aliceblue;
  margin-left: 500px;
}